#data-explaination {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: '•';
    display: inline-block;
    margin-right: 10px;
}
  
ul li {
    padding-left: 20px;
    position: relative;
}

.texte {
    text-align: justify;
}