#nav-bar-match {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stat-matchs-global {
    text-align: center;
    padding-top: 10px;
}

.graph {
    display: none;
    width: 100%;
    justify-content: center;
}

.match-button{
    padding: 10px 20px;
    border: none;
    background-color: #00723f;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.match-button:hover {
    background-color: #003821;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

