/* Réinitialiser certains styles par défaut */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* En-tête */
header {
    background-color: #00723f; /* Vert foncé */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Pied de page */
footer {
    background-color: #003821; /* Vert plus sombre */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}