.legend-item {
    display: flex;
    padding: 10px;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

svg {
    padding-top: 3px;
    padding-right: 3px;
}

#stat-match-by-times {
    text-align: center;
    padding-top: 5%;
}