<link rel="stylesheet" href="/static/css/data_explanation.css">

<h2>Sources et traitement des données</h2>
<h3>Origine des données</h3>
<p class="texte">Notre analyse repose sur un jeu de données détaillé fourni par Sport AI, une entreprise 
    pionnière dans l'analyse de données sportives. Les données ont été principalement extraites
    de fbref.com, un site réputé pour sa richesse en informations sur les performances des équipes 
    et des joueurs dans diverses compétitions de football, y compris la Coupe d'Afrique des Nations.
    Ce site est une extension de Sports Reference, qui s'appuie sur les données de leaders de l'industrie
    tels qu'Opta et Data Sports Group, spécialisés dans la collecte et l'analyse de données sportives en 
    temps réel, combinant annotations humaines, vision par ordinateur, et modélisation par intelligence 
    artificielle.</p>
<h3>Collecte des données</h3>
<p class="texte">Le jeu de données a été collecté durant la Coupe d'Afrique des Nations 2023 et les phases de qualification,
    mettant en lumière les performances de l'équipe de Côte d'Ivoire. Ce jeu comprend des mesures à la fois 
    individuelles et collectives, qui permettent une analyse exhaustive des dynamiques et des performances 
    sportives.</p>
<h3>Traitement des données</h3>
<p class="texte">Le traitement des données a été réalisé en deux étapes principales :
    <ul class="texte">
        <li>
            Extraction Automatisée : Utilisation de scripts Python pour extraire des volumes importants de données 
            directement depuis fbref.com, garantissant rapidité et précision.
        </li>
        <li>
            Extraction Manuelle : Certaines données n'étant pas accessibles via le scraping automatisé ont été collectées 
            manuellement. Cette approche ciblée a permis de garantir l'intégrité et la complétude des informations sans 
            compromettre la qualité, grâce au volume gérable de ces données.
        </li>
    </ul>
</p>
<h3>Vérification et validation</h3>
<p class="texte">Une fois les données extraites, une série de contrôles de qualité a été effectuée pour vérifier leur exactitude.
    Des vérifications ont permis d'assurer la validité des informations utilisées pour nos visualisations.</p>