<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="/static/css/style.css">
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>PROJET - INF8808</title>
    
</head>
<body>
    <header>
        <h1>Performances de la Côte d'Ivoire à la CAN 2023</h1>
    </header>

    <main>
        <section id="overview">
            {% include "introduction.html" %}
        </section>

        <section id="stat-matchs-global">
            {% include "statistiques_matchs.html" %}
        </section>

        <section id="players-by-position">
            {% include "players_performance.html" %}
        </section>

        <section id="subs-by-position">
            {% include "subs_performance.html" %}
        </section>

        <section id="subs-by-results">
            {% include "results_matchs_subs.html" %}
        </section>

        <section id="stat-match-by-times">
            {% include "time_matchs.html" %}
        </section>

        <section id="data-explaination">
            {% include "data_explanation.html" %}
        </section>
        </br>
    </main>

    <footer>
        <p>&copy; Équipe 6 - INF8808 H24</p>
    </footer>
</body>
</html>