<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJET - INF8808</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Performances de la Côte d'Ivoire à la CAN 2023</h1>
    </header>

    <main>
        <section id="overview">
            <p>Dans le tourbillon d'émotions et de passion qu'est la Coupe d'Afrique des Nations,
            chaque passe, chaque tir et chaque but raconte une histoire. En 2023, la scène africaine
            du football a été témoin d'une édition exceptionnelle, riche en compétitivité, en talent
            et en moments inoubliables. Au cœur de cet événement, l'équipe de la Côte d'Ivoire s'est
            distinguée, non seulement par son jeu, mais aussi par l'esprit avec lequel elle a disputé
            chaque match. Notre projet puise dans un jeu de données unique, recueilli avec rigueur
            tout au long de la CAN 2023 et des phases de qualification. Ce trésor de données, qui
            couvre à la fois les performances individuelles des joueurs et les efforts collectifs
            de l'équipe, offre un terrain pour une exploration en profondeur des dynamiques 
            du football moderne. De la précision des passes à l'efficacité devant le but, en passant
            par la stratégie de jeu et la cohésion d'équipe, notre plateforme propose une immersion
            dans les aspects quantitatifs et qualitatifs qui ont défini le parcours de la Côte d'Ivoire.
            Grâce à des visualisations de données avancées, nous vous invitons à plonger au-delà des 
            scores et des résultats. Explorez les forces, les faiblesses, les stratégies et les 
            performances clés qui ont jalonné la campagne de la Côte d'Ivoire. 
            Rejoignez-nous dans cette aventure analytique pour redécouvrir la CAN 2023 à travers les yeux
            de l'équipe de la Côte d'Ivoire, et voyez le football sous un jour nouveau.</p>
        </section>

        <section id="stat-matchs-global">
            <h2>Statistiques global des matchs</h2>
            <p>TODO : Visualisation 3 dans la maquette, pour les 7 matchs joués </p>
        </section>

        <section id="players-by-position">
            <h2>Statistiques pour l'ensemble des joueurs par positions</h2>
            <p>TODO : Visualisation 4 à 9 dans la maquette pour tout les joueurs - pour les attaquants, milieux + défenseurs, défenseurs </p>
        </section>

        <section id="subs-by-position">
            <h2>Statistiques des joueurs remplaçants par positions</h2>
            <p>TODO : Visualisation 4/6/8 dans la maquette pour tout les remplaçants - pour les attaquants, milieux + défenseurs, défenseurs </p>
        </section>

        <section id="stat-match-by-times">
            <h2>Les matchs dans le temps</h2>
            <p>TODO : Visualisation 13 pour les 7 matchs joués </p>
        </section>
    </main>

    <footer>
        <p>&copy; Équipe 6 - INF8808 H24</p>
    </footer>
</body>
</html>
