<script src="/static/scripts/players_performance.js"></script>
<link rel="stylesheet" href="/static/css/players_performance.css">

<h2>Statistiques pour l'ensemble des joueurs par position</h2>
<p class="texte">
    Plongez dans le cœur tactique du jeu avec ces visualisations comparative des contributions spécifiques des joueurs tout au long de la compétition en fonction de leur 
    position sur le terrain. Analysez leur impact match par match et saisissez la régularité ou les pics de performance qui témoignent de leur rôle pivot dans l'équipe.
    Ici, les statistiques de performance concernent seulement les joueurs principaux dans les matchs (pas les joueurs remplaçants). 
    En plus d'une analyse match par match, une barre supplémentaire dans les visualisations démontre leur performance global dans la compétition. Si aucune barre apparait 
    pour un match d'un joueur, cela indique que le joueur n'a pas apporté de contribution à ce match, soit en étant pas sur le terrain soit en apportant aucune contributions spécifiques.
    Explorez les différentes statistiques des joueurs en fonction de leur position à travers les différents onglets.
</p>
<div id="nav-bar">
    <button id="att-button" class="perf-button" onclick="showPlayerType('attackers', 'att-button')">Attaquants</button>
    <button id="mid-button" class="perf-button" onclick="showPlayerType('mid', 'mid-button')">Milieux de terrain et défenseurs</button>
    <button id="def-button" class="perf-button" onclick="showPlayerType('defenders', 'def-button')">Défenseurs</button>
</div>

<div id="attackers" class="content-section">
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #fa7704; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs tentés</div>
        <div style="margin-right: 10px;"><span style="background-color: #fcab5a; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs cadrés</div>
        <div><span style="background-color: #ffe45b; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs marqués</div>
    </div>
    <!-- Contenu pour les attaquants -->
    <div id="attackers-matchs" class="graph-section">
        {{ plot_att_matchs | safe }}
    </div>
</div>

<div id="mid" class="content-section">
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #244fa0; width: 20px; height: 20px; display: inline-block;"></span> Nombre de passe décisive</div>
        <div style="margin-right: 10px;"><span style="background-color: #5b87da; width: 20px; height: 20px; display: inline-block;"></span> Nombre de centres</div>
        <div style="margin-right: 10px;"><span style="background-color: #97B54A; width: 20px; height: 20px; display: inline-block;"></span> Nombre d'interceptions</div>
        <div><span style="background-color: #597318; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tacles gagnés</div>
    </div>
    <!-- Contenu pour les milieux de terrain et défenseurs -->
    <div id="mid-matchs" class="graph-section">
        {{ plot_mid_matchs | safe }}
    </div>
</div>

<div id="defenders" class="content-section">
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #97B54A; width: 20px; height: 20px; display: inline-block;"></span> Nombre d'interceptions</div>
        <div><span style="background-color: #597318; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tacles gagnés</div>
    </div>
    <!-- Contenu pour les défenseurs -->
    <div id="defenders-matchs" class="graph-section">
        {{ plot_def_matchs | safe }}
    </div>
</div>