<script src="/static/scripts/subs_performance.js"></script>
<link rel="stylesheet" href="/static/css/subs_performance.css">

<h2>Statistiques des joueurs remplaçants par positions</h2>
<div id="sub-nav-bar">
    <button id="sub-att-button" class="sub-perf-button" onclick="showSubType('sub-attackers', 'sub-att-button')">Attaquants</button>
    <button id="sub-mid-button" class="sub-perf-button" onclick="showSubType('sub-mid', 'sub-mid-button')">Milieux de terrain et défenseurs</button>
    <button id="sub-def-button" class="sub-perf-button" onclick="showSubType('sub-defenders', 'sub-def-button')">Défenseurs</button>
</div>

<div id="sub-attackers" class="sub-content-section">
    <div class="buttons-container">
        <button id="sub-att-matchs-button" class="sub-perf-button" onclick="showContentSub('sub-attackers-matchs')">À travers les matchs</button>
        <button id="sub-att-global-button" class="sub-perf-button" onclick="showContentSub('sub-attackers-global')">Global</button>
    </div>
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #fa7704; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs tentés</div>
        <div style="margin-right: 10px;"><span style="background-color: #fcab5a; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs cadrés</div>
        <div><span style="background-color: #ffe45b; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tirs marqués</div>
    </div>
    <!-- Contenu pour les attaquants -->
    <div id="sub-attackers-matchs" class="sub-graph-section">
        {{ plot_sub_att_matchs | safe }}
    </div>
    <div id="sub-attackers-global" class="sub-graph-section">
        {{ plot_sub_att_global | safe }}
    </div>
</div>

<div id="sub-mid" class="sub-content-section">
    <div class="buttons-container">
        <button id="sub-mid-matchs-button" class="sub-perf-button" onclick="showContentSub('sub-mid-matchs')">À travers les matchs</button>
        <button id="sub-mid-global-button" class="sub-perf-button" onclick="showContentSub('sub-mid-global')">Global</button>
    </div>
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #244fa0; width: 20px; height: 20px; display: inline-block;"></span> Nombre de passe décisive</div>
        <div style="margin-right: 10px;"><span style="background-color: #5b87da; width: 20px; height: 20px; display: inline-block;"></span> Nombre de centres</div>
        <div style="margin-right: 10px;"><span style="background-color: #97B54A; width: 20px; height: 20px; display: inline-block;"></span> Nombre d'interceptions</div>
        <div><span style="background-color: #597318; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tacles gagnés</div>
    </div>
    <!-- Contenu pour les milieux de terrain et défenseurs -->
    <div id="sub-mid-matchs" class="sub-graph-section">
        {{ plot_sub_mid_matchs | safe }}
    </div>
    <div id="sub-mid-global" class="sub-graph-section">
        {{ plot_sub_mid_global | safe }}
    </div>
</div>

<div id="sub-defenders" class="sub-content-section">
    <div class="buttons-container">
        <button id="sub-def-matchs-button" class="sub-perf-button" onclick="showContentSub('sub-defenders-matchs')">À travers les matchs</button>
        <button id="sub-def-global-button" class="sub-perf-button" onclick="showContentSub('sub-defenders-global')">Global</button>
    </div>
    <div class="legend">
        <div style="margin-right: 10px;"><span style="background-color: #97B54A; width: 20px; height: 20px; display: inline-block;"></span> Nombre d'interceptions</div>
        <div><span style="background-color: #597318; width: 20px; height: 20px; display: inline-block;"></span> Nombre de tacles gagnés</div>
    </div>
    
    <!-- Contenu pour les défenseurs -->
    <div id="sub-defenders-matchs" class="sub-graph-section">
        {{ plot_sub_def_matchs | safe }}
    </div>
    <div id="sub-defenders-global" class="sub-graph-section">
        {{ plot_sub_def_global | safe }}
    </div>
</div>



