<link rel="stylesheet" href="/static/css/time_matchs.css">

<h2>Les matchs dans le temps</h2>
<p class="texte">
  Décryptez le rythme des matchs à travers cette chronologie interactive des événements clés pour chaque 
  rencontre. Chaque symbole représente un moment qui a marqué les parties : les cercles illustrent les buts
  marqués et encaissés, offrant une vision du succès offensif et défensif à chaque minute du jeu. Les 
  losanges soulignent les avertissements, dévoilant la tension et l'agressivité sur le terrain, tandis que 
  les triangles indiquent les changements stratégiques avec les remplacements effectués. Cette représentation 
  permet de suivre l'évolution et la gestion du jeu au fil des minutes et des matchs, traduisant l'intensité 
  de la compétition ainsi que la réactivité et l'adaptabilité des équipes face aux défis du match en cours.
</p>
<div class="legend">
  <div class="legend-item">
    <svg height="20" width="20">
      <circle cx="10" cy="10" r="7" fill="#8ac000" stroke="#404040" stroke-width="2" />
    </svg>
    But pour
  </div>
  <div class="legend-item">
    <svg height="20" width="20">
      <circle cx="10" cy="10" r="7" fill="#c02300" stroke="#404040" stroke-width="2" />
    </svg>
    But contre
  </div>
  <div class="legend-item">
    <svg height="20" width="15" viewBox="0 0 50 40">
        <polygon points="0,0 40,20 0,40" fill="#5b87da" stroke="#404040" stroke-width="6" />
        <rect x="40" y="0" width="7" height="40" fill="#404040" />
    </svg>
    Changements
  </div>

  <div class="legend-item">
    <svg height="20" width="20">
      <rect x="5" y="5" width="10" height="10" fill="#ffe100" transform="rotate(45, 10, 10)" stroke="#404040" stroke-width="2" />
    </svg>
    Cartons jaunes
  </div>
</div>
<div class="legend">
    {{ plot_times_matchs | safe }}
</div>